@font-face {
    font-family: 'Lemon-Milk-Regular';
    src: url('../Fonts/Lemon Milk/LEMONMILK-Regular.otf') format('opentype');
}

.Commissiontext {
    font-family: Lemon-Milk-Regular;
    font-size: 30px;
    font-weight: 600;
}

.CommissionDescription {
    font-size: 20px;
}

.CommDeleteButton {
    font-size: 25px;
    text-decoration: none;
    color: white;
    /*background-color: #91FFEA;*/
    background-color: #4294FF;
    border-radius: 5px;
    border: 3px solid #4294FF;
    margin: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color linear 0.5s;
    -o-transition: background-color linear 0.5s;
    -webkit-transition: background-color linear 0.5s;
    transition: background-color linear 0.5s;
    -moz-transition: border linear 0.2s;
    -o-transition: border linear 0.2s;
    -webkit-transition: border linear 0.2s;
    transition: border linear 0.2s;
    width: 50%;
    cursor: pointer;
    text-align: center;
}

    .CommDeleteButton:hover {
        background-color: #2274AF;
        border: 3px solid #2274AF;
    }