
@{
    ViewData["Title"] = "Comissions";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<p>Needs back end support to display queued comissions</p>

<p>Needs to link to a picture that displays the specific profiles prices</p>

<p>Needs button that takes user to the Commissions Request page</p>