@model ProjectGecko.Models.Commission
@{
    ViewData["Title"] = "RequestCommission";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<h1>RequestCommission</h1>

@using (Html.BeginForm("RequestCommission", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(false);

    <input type="hidden" name="CommissioneeId" value=@ViewBag.CommissioneeId />

    <input type="file" multiple="multiple" name="imagePaths" value="">

    <p>Description: </p>
    @Html.EditorFor(m => m.Description)
    @Html.ValidationMessageFor(m => m.Description)
    <br />
    <input type="submit" value="Submit" />
}