@using ProjectGecko.Models
@model Account

@{
    ViewData["Title"] = "UserCommissions";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}

<link href="~/css/Commissions.css" rel="stylesheet" />
@foreach (Commission comm in ViewBag.Commissions)
{
    string commId = "Comm" + comm.CommissionID;
    <div class="commissionsContainer" id=@commId>
        <p class="Commissiontext">From: @Account.GetAccount(comm.CommissionerID).DisplayName</p>
        <div class="commissionsBox closed">
            <p class="CommissionDescription">Description: @comm.Description</p>
            @foreach (string path in comm.ImagePaths)
            {
                <img class="PostListingImage" src=@Url.Content(path) alt="Alternate Text" />
            }
        </div>
        <div class="CommDeleteButton" onclick="deleteComm(@comm.CommissionID, @comm.CommissioneeID)"> Remove From List </div>
        <hr />
    </div>
}
<script src="~/Js/JQuery/jquery-3.4.1.min.js"></script>
<script src="~/Js/UnobtrusiveCommDelte.js"></script>