<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>
    <header>
        <h1 class="SiteTitle">GeckoSketch</h1>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            
        </nav>
    </header>
    <div class="SideBar">
        @if(ProjectGecko.SessionVars.ActiveAcount != null)
        {
        <p class="ProfileNameSmall">@ProjectGecko.SessionVars.ActiveAcount.DisplayName</p>
        <img src=@Url.Content(ProjectGecko.SessionVars.ActiveAcount.ProfPicPath) alt="Alternate Text" class="ProfilePicSmall"/>
        }
        else
        {
            @Html.ActionLink("Login/SignUp", "LogInSignUp", "Home", null, new { @class="navButton", @id = "LogInButton" })
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">

        </div>
    </footer>
</body>
</html>
